<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo Post</title>
  </head>
  <body>
    <h1><%= task.title %></h1>
    <div>
      <p><%= task.content %></p>
      <p>Task ID: <%= task.id %></p>
    </div>
  </body>
</html>